
<% @user.projects.each do |project| %>
  <div class="card ">
      <div class="card-body flex-justify-between">
        <div class="row align-items-center">
          <%= image_tag profile_picture_path(project.owner), size: '50x50' %>
          <div class="col-3"><strong><%= project.name %></strong></div>
          <div class="col-2"><%= pluralize(project.supporters.count, 'supporter') %></div>
          <div class="col"><%= '$' + project.total_funding.to_s + ' Pledged' %></div>
          <% if user_signed_in? && current_user === @user %>
            <button type="button" class="btn btn-outline-primary"  id="btn_table" onclick="location.href = '<%=edit_project_path(project)%>';">Edit</button>
          <%else%>
            <button type="button" class="btn btn-outline-primary"  id="btn_table" onclick="location.href = '<%=project_path(project)%>';">view</button>
          <% end %>
        </div>
        <div class="row justify-content-between">
          <div class="col-5"><%= project.description %></div>
        </div>
      </div>
  </div>
<% end %>