<% @user.issue_transactions.each do |issue_transactions| %>
  <div class="card ">
      <div class="card-body flex-justify-between">
        <div class="row">
          <%= image_tag profile_picture_path(issue_transactions.issue.project.owner), size: '50x50' %>
          <a href="<%=issue_transactions.issue.project.link%>" class="col-3 card-link"><%= issue_transactions.issue.project.name %></a>
          <div class="col-2"><%= pluralize(issue_transactions.issue.project.supporters.count, 'supporter') %></div>
          <div class="col"><%= '$' + issue_transactions.issue.project.total_funding.to_s + ' Pledged' %></div>
          <button type="button" id="btn_table" class="btn btn-outline-primary" onclick="location.href = '<%=project_path(issue_transactions.issue.project)%>';">Support</button>
        </div>
        <div class="row justify-content-end">
          <div class="card-text text-primary col-auto ">My support</div>
          <div class="card-text text-primary text-right col-auto">$<%= issue_transactions.amount %></div>
        </div>
        <div class="row justify-content-between">
          <div class="card-text"><%= issue_transactions.issue.project.description %></div>
        </div>
      </div>
  </div>
<% end %>
<!--ToDo:actually make pages do something-->
<nav aria-label="Page selector">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' unless @current_page > 1 %>"><a class="page-link" href="#">Previous</a></li>
    <% pages = [1, @current_page - 1, @current_page, @current_page + 1, @page_count - 1].uniq %>
    <% pages.each do |page| %>
      <% next if page < 1 || page > @page_count %>
      <li class="page-item <%= 'active' if @current_page == page %>"><a class="page-link" href="?p=<%= page %>"><%= page %></a></li>
    <% end %>
    <li class="page-item <%= 'disabled' unless @current_page < @page_count - 1 %>"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>