<p id="notice"><%= notice %></p>
<%= form_for(current_user) do |f| %>
  <div class="container">
    <h1>Editing user <%=current_user.name%></h1>
    <hr>
    <div class="row">
      <div class="col-md-9 personal-info">
        <h3>Profile info</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
            <div class="col-sm-6">
              <%= f.file_field :avatar %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Privacy:</label>
            <%= f.fields_for :user_setting do |settings| %>
              <%= settings.check_box :isPublic%>
            <% end %>
            <div class="btn-group col-lg-8" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" id="btn_status_open" onclick="StatusOpen()">Public</button>
              <button type="button" class="btn btn-primary" id="btn_status_closed" onclick="StatusClosed()">Private</button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <%= f.submit "Save changes", class: "btn btn-large btn-primary", action: :post %>
              <a href="<%=profile_path%>" class="btn btn-primary active" role="button" aria-pressed="true">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr>
  </div>
<% end %>
<%if current_user.user_setting.isPublic? %>
  <script>document.getElementById('btn_status_open').focus();document.getElementById('btn_status_open').style.background='#0d47a1';</script>
<% else %>
  <script>document.getElementById('btn_status_closed').focus();document.getElementById('btn_status_closed').style.background='#0d47a1';</script>
<% end %>
<script>
  document.getElementById('user_user_setting_isPublic').hidden = true;

  function StatusClosed() {
  var x = document.getElementById("btn_status_open");
  var y = document.getElementById('btn_status_closed');
  document.getElementById('user_user_setting_isPublic').checked = false;
  x.style.background='#1e88e5';
  y.style.background='#0d47a1';

  }
  function StatusOpen() {
  var x = document.getElementById("btn_status_open");
  var y = document.getElementById('btn_status_closed');
  document.getElementById('user_user_setting_isPublic').checked = true;
  x.style.background='#0d47a1';
  y.style.background='#1e88e5';

  }
</script>
