<input id="searchbar" class="form-control form-control-lg" type="text" placeholder="Search..." value=<%= (params.permit :q)[:q] %>>
<% @projects.each do |project| %>
  <div class="card ">
    <div class="card-body flex-justify-between">
      <div class="row align-items-center">
        <%= image_tag profile_picture_path(project.owner), size: '50x50' %>
        <div class="col-3"><strong><%= project.name %></strong></div>
        <div class="col-2"><%= pluralize(project.supporters.count, 'supporter') %></div>
        <div class="col"><%= '$' + project.total_funding.to_s + ' Pledged' %></div>
        <%= button_to "Support", project_path(project), method: 'get', class: 'btnb' %>
      </div>
      <div class="row">
        <div class="card-text"><%= project.description %></div>
      </div>
    </div>
  </div>
<% end %>
<nav aria-label="Page selector">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' unless @current_page > 1 %>"><a class="page-link" href="#">Previous</a></li>
    <% pages = [1, @current_page - 1, @current_page, @current_page + 1, @page_count - 1].uniq %>
    <% pages.each do |page| %>
      <% next if page < 1 || page > @page_count %>
      <li class="page-item <%= 'active' if @current_page == page %>"><a class="page-link" href="?p=<%= page %>"><%= page %></a></li>
    <% end %>
    <li class="page-item <%= 'disabled' unless @current_page < @page_count - 1 %>"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
<script>
  var searchbar = document.getElementById('searchbar')
  searchbar.onkeyup = function(e) {
  if ((e.keycode || e.which) == 13 && searchbar === document.activeElement) {
  window.location.href = '/search?q=' + searchbar.value
  }}
</script>