<p id="notice"><%= notice %></p>
<%= form_for(@project) do |f| %>
<div class="container">
	<h1>Editing Project <%=@project.name%></h1>
	<hr>
	<div class="row">
		<div class="col-md-9 personal-info">
			<h3>Project info</h3>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-lg-3 control-label">Project name:</label>
					<div class="col-lg-8">
						<%= f.text_field :name, class: 'form-control'%>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Description:</label>
					<div class="col-lg-8">
						<%= f.text_field :description, class: 'form-control' %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Link to project:</label>
					<div class="col-lg-8">
						<%= f.text_field :link, class: 'form-control' %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Status:</label>
					<div class="col-lg-8">
						<%= f.check_box :status%>
					</div>
					<div class="btn-group col-lg-8" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary" id="btn_status_open" onclick="StatusOpen()">Open</button>
						<button type="button" class="btn btn-primary" id="btn_status_closed" onclick="StatusClosed()">Closed</button>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"></label>
					<div class="col-md-8">
						<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
						<a href="<%=project_path(@project)%>" class="btn btn-primary active" role="button" aria-pressed="true">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
<% end %>
<%if @project.status == 1%>
	<script>document.getElementById('btn_status_open').focus();document.getElementById('btn_status_open').style.background='#0d47a1';</script>
<%else%>
	<script>document.getElementById('btn_status_closed').focus();document.getElementById('btn_status_closed').style.background='#0d47a1';</script>
<%end%>
<script>
document.getElementById('project_status').hidden = true;

function StatusClosed() {
    var x = document.getElementById("btn_status_open");
    var y = document.getElementById('btn_status_closed');
    document.getElementById('project_status').checked = false;
    x.style.background='#1e88e5';
    y.style.background='#0d47a1';

}
function StatusOpen() {
    var x = document.getElementById("btn_status_open");
    var y = document.getElementById('btn_status_closed');
    document.getElementById('project_status').checked = true;
    x.style.background='#0d47a1';
    y.style.background='#1e88e5';

}
</script>