
<%= form_tag("/projects/#{@project.id}/issues/#{@issue.id}/feedback/#{current_user.id}/submit", method: "post", class: "form-group") do %>
  <div class="form-group">
    <%= radio_button_tag(:completed, "Yes") %>
    <%= radio_button_tag(:completed, "No") %>

    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>


    <%= submit_tag("Submit") %>
  </div>
  
<% end %>