<div class="card">
  <h2 class="card-header">
    Issue <%=@issue.github_id%>
  </h2>
  <div class="card-body">
    <h3 class="card-text"><%=@issue.name%></h3>
    <div class="d-flex justify-content-between">
      <h6 class="card-subtitle">
        <%if @issue.status == 1%>
        Open
        <% elsif @issue.status == 2 %>
        Active
        <% elsif @issue.status == 3 %>
        Under Review
        <%else%>
        Closed
        <% end %>
      </h6>
    </div>
    <div class="row align-items-center">
    <h4 class="card-text font-weight-normal col-3">Acceptance rating: <%=@issue.percentage * 100%>%</h4>
    </div>
    <p class="text-muted"><%=@issue.created_at%></p>
  </div>
</div>
<%if @issue.feedbacks.any? %>
<div class="card">
  <h3 class="card-header">Comments</h3>
  <% @issue.feedbacks.each do |feedback| %>
    <div class="card">
    <div class="card-body">
      <%if feedback.accepted%>
        <h3 class="card-subtitle">Comepletion: Yes.</h3>
      <%else%>
        <h3 class="card-subtitle">Comepletion: No.</h3>
      <%end%>
      <div class="card-text">Comment: <%=feedback.comment%></div>
    </div>
  </div>
  <%end%>
</div>
<%else%>
  <h3>No responses at this time.</h3>
<%end%>

