
<p id="notice"><%= notice %></p>
<div class="card">
  <h3 class="card-header"><%=@project.name%></h3>
  <div class="card-body">
    <a href="<%=user_path(@project.owner)%>" class="card-link"><%=@project.owner.username%></a>
    <p class="card-text"><%=@project.description%></p>
    <p class="card-text"><%= pluralize(@project.supporters.count, 'supporter') %><%= '  $' + @project.total_funding.to_s+ ' Pledged' %></p>
    <%if @project.status == 1%>
    <p class="card-text">Status: Open</p>
    <%else%>
    <p class="card-text">Status: Closed</p>
    <%end%>
    <a href="<%=@project.githublink%>" class="btn btn-primary active">GitHub</a>
    <p class="text-muted"><%=@project.created_at%></p>
  </div>
</div>
<%if @project.issues.any? %>
<div class="card">
  <h3 class="card-header">Issues</h3>
  <% @project.issues.each do |issue| %>
  <div class="card">
    <div class="card-body">
      <a href="<%=@project.githublink%>\issues\<%=issue.github_id%>" class="card-link"><%=issue.name%></a>
      <%if issue.status == 1%>
      <h5 class="card-subtitle mb-2">Open</h5>
      <% elsif issue.status == 2%>
      <h5 class="card-subtitle mb-2 ">Working on</h5>
      <%else%>
      <h5 class="card-subtitle mb-2 text-muted">Closed</h5>
      <%end%>
      <%if issue.supporters.include? current_user%>
      <div class="row align-items-center">
        <h6 class="card-text font-weight-normal col-12"><%=issue.description%></h6>
        <h6 class="card-text font-weight-normal col-2">Supporters: <%=issue.issue_transactions.count%></h6>
        <h6 class="card-text font-weight-normal col-7">Pledged: $<%=issue.total_funding.to_s%></h6>
        <h6 class="card-text font-weight-normal col-2">My pledge: $<%=issue.total_funding.to_s%></h6>
        <%if issue.status == 1%>
        <button type="button" class="btn btn-danger col-1" data-issueid=<%= issue.id %> data-projectid=<%= @project.id %> data-toggle="modal" data-target="#ModalCenterCancel">
          Cancel Support
        </button>
        <p class="text-muted col-2"><%=issue.created_at%></p>
        <%end%>
      </div>
      <%else%>
      <div class="row align-items-center">
        <h6 class="card-text font-weight-normal col-12"><%=issue.description%></h6>
        <h6 class="card-text font-weight-normal col-2">Supporters: <%=issue.issue_transactions.count%></h6>
        <h6 class="card-text font-weight-normal col-9">Pledged: $<%=issue.total_funding.to_s%></h6>
        <%if issue.status == 1%>
        <button type="button" class="btn btn-success col-1" data-toggle="modal" data-issueid=<%= issue.id %> data-projectid=<%= @project.id %> data-url=<%= request.original_url %> data-target="#ModalCenter">
          Support
        </button>
        <%end%>
        <p class="text-muted col-2"><%=issue.created_at%></p>
      </div>
      <%end%>
    </div>
  </div>
  <% end %>
</div>
<%end%>
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <% if user_signed_in? %>
        <h5 class="modal-title" id="exampleModalLongTitle">Supporting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%else%>
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%end%>
      </div>
      <% if user_signed_in? %>
      <div class="modal-body">
        You can take out your money as long as the issue has not been started.
        <div class="modal-footer">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input id="amountinput" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
          <button id="ModalSubmit" type="button" onclick="submitpost()" class="btn btn-primary"> Support </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
        </div>
      </div>
      <%else%>
      <div class="modal-body">
        You need to be signed in to support a project.
        <div class="modal-footer">
          <a href="<%=new_user_session_path%>" class="btn btn-primary active">Sign Up</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalCenterCancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Supporting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to cancel your support?
        <div class="modal-footer">
          <button type="button" onclick="submitcancel()" class="btn btn-primary">Cancel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
 var form = document.createElement('form');
 var url;
 var issueid;

  function submitpost(){
      var amount = document.getElementById('amountinput').value;
     

      form.setAttribute('action', url+'/issues/'+issueid+ '/amount/' + amount  +'/support')

       document.body.appendChild(form);

       form.submit();

  }

  function submitcancel(){


      form.setAttribute('action', url+'/issues/'+issueid +'/cancel')

       document.body.appendChild(form);

       form.submit();

  }

  $('#ModalCenter').on('show.bs.modal', function (event) {

      var button = $(event.relatedTarget) // Button that triggered the modal
      issueid = button.data('issueid') // Extract info from data-* attributes
      var projectid = button.data('projectid')
      url = button.data('url')
      form.setAttribute('method', 'post');

      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
   
    })

  $('#ModalCenterCancel').on('show.bs.modal', function (event) {

      var button = $(event.relatedTarget) // Button that triggered the modal
      issueid = button.data('issueid') // Extract info from data-* attributes
      var projectid = button.data('projectid')
      url = button.data('url')
      form.setAttribute('method', 'post');

      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
   
    })

  </script>