<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
     
    </label>
  </article>

<% if user_signed_in? %>

<%else%>
<!--ToDo: Change to login path-->
<!-- <script>window.location.href = "<%= root_path%>";</script>> -->
<%end%>







<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Add funds</h1>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Add $5</h2>
          <p class="card-text">Support your favorite projects. Adds $5 to your account balance.</p>
                      <%= form_tag charges_path do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <label class="amount">
                  <span>Amount: $5.00</span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="5.00 in Credit"
                      data-amount="500"
                      data-locale="auto"></script>
              <input name="amt" type="hidden" value="500" />
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Add $10</h2>
          <p class="card-text">Support your favorite projects.  Adds $10 to your account balance.</p>
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Amount: $10.00</span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="10.00 in Credit"
                    data-amount="1000"
                    data-locale="auto"></script>
            <input name="amt" type="hidden" value="1000" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Add $20</h2>
          <p class="card-text">Support your favorite projects.  Adds $20 to your account balance.</p>
          <%= form_tag charges_path do %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                  <label class="amount">
                    <span>Amount: $20.00</span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="20.00 in Credit"
                        data-amount="2000"
                        data-locale="auto"></script>
                <input name="amt" type="hidden" value="2000" />
                <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Add $50</h2>
          <p class="card-text"></p>
          <p class="card-text">Support your favorite projects.  Adds $50 to your account balance. </p>
         <%= form_tag charges_path do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <label class="amount">
                  <span>Amount: $50.00</span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="50.00 in Credit"
                      data-amount="5000"
                      data-locale="auto"></script>
              <input name="amt" type="hidden" value="5000" />
            <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-10">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <a href="<%=explore_path%>" class="btn btn-primary active salmon-color" role="button" aria-pressed="true">Cancel</a>
          </div>

        
        </div>
      </form>
    </div>

     <div class="col-md-1">
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <% if current_user.access_code == nil %>
                <%= link_to image_tag('/images/light-on-light.png'), user_stripe_connect_omniauth_authorize_path() %>
            <%else%>
                <%= button_to "Withdraw", charges_withdraw_path, :style => "width:200px; display: block; margin: 0 auto;",  :class => "btn btn-danger salmon-color " , method: :get%>
            <%end%>
          </div>
        </div>
    </div>
  </div>
</div>
<hr>
<% end %>

